<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerLinks}}
</head>
<body>
{{>navbar}}

  <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <div class="col-md-12 col-12 main_header_left align-items-center " >
                    <figure class="errimg">
                     <img src="images/404err.png" alt="thapa" class="img-fluid" title="thap">
                    </figure>
               
                    <p>Welcome to Thapa Technical world</p>
                    <h1>{{errorMsg}}</h1>
                    <a href ="/"><button>Go BAck</button></a>

                </div>

              
            </div>

        </div>
    </div>
  </div>  
  
  <footer>
    <p>Created With Love</p>
  </footer>
    
</body>
</html>