<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerLinks}}
</head>
<body>
{{>navbar}}

  <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                     <img src="images/myimg.jpg" alt="thapa" class="img-fluid" title="thap">
                    </figure>
                 </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a <span class="text-clr">Mern stack developer </span>and youtuber</h1>
                    <a href ="/weather"><button>About me</button></a>

                </div>

              
            </div>

        </div>
    </div>
  </div>  
  
  <footer>
    <p>Created With Love</p>
  </footer>
    
</body>
</html>